<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .collapsible {
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .active, .collapsible:hover {
      background-color: #555;
    }

    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      background-color: #f1f1f1;
    }
  </style>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>
</head>
<body>

<h2>PROJET DEV-OPS | Master2 Logiciel 2019-2020</h2>

<p>
  Aquarium
  1 - Présentation générale
  Un aquarium souhaite faciliter la gestion de ses animaux aquatiques, en mettant en place un site web. Une partie du site
  sera également rendue publique et mise à la disposition des visiteurs de l’aquarium, qui pourront y trouver diverses
  informations aussi bien sur les animaux de l’aquarium que sur les activités proposées lors des visites.</p>

</body>
</html>
