<script> document.redirect.reload(true) </script>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Pool List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Max Population</th>
        <th>Max Volume</th>
        <th>Is clean ?</th>
        <!-- <th>Actions</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pool of pools | async">
        <td>{{this.pool.id}}</td>
        <td>{{pool.maxPopulation}}</td>
        <td>{{pool.maxVolume}}</td>
        <td>{{pool.isClean}}</td>
        <td><button (click)="deletePool(pool.id)" class="btn btn-danger">Delete</button>
          <button (click)="poolDetails(pool.id)" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
