<form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="this.employeeService.isConnected == 0" >
  <div class="imgcontainer">
    <img src="../../assets/images/ll.jpg" alt="Avatar" class="avatar" >
  </div>

  <div class="container">
    <label for="id"><b>Employee ID</b></label>
    <input type="number" placeholder="Enter ID here" name="id" id="id" required ngModel>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Type password here" name="password" id="password" required ngModel>

    <button class="btn btn-primary" type="submit">Login (Click Twice-Cliquez 2 fois)</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <a href=""><button type="button" class="cancelbtn">Cancel</button></a>
    <input type="reset" value="Reset" class="cancelbtn">
    <span class="psw">Forgot <a href="contact">password?</a></span>
  </div>
</form>
