<div class="row" *ngIf="this.employeeService.isConnected == 1">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <label for="id">
          ID
        </label>
        <input type="number" id="id" class="form-control" name="id" ngModel>
      </div>

      <div class="form-group">
        <label for="name"> Pool </label>
        <select id="name" name="name" ngModel>
          <option value="POOL 1">POOL 1</option>
          <option value="POOL 2">POOL 2</option>
          <option value="POOL 3">POOL 3</option>
          <option value="POOL 4">POOL 4</option>
          <option value="POOL 5">POOL 5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="maxPopulation">
          Max Population
        </label>
        <input type="number" id="maxPopulation" class="form-control" name="maxPopulation" ngModel>
      </div>

      <div class="form-group">
        <label for="maxVolume">
          Max Volume
        </label>
        <input type="number" id="maxVolume" class="form-control" name="maxVolume" ngModel>
      </div>

      <div class="form-group">
        <label for="isClean"> Is clean (or not) ? </label>
        <select id="isClean" name="isClean" ngModel>
          <option value="IS CLEAN">IS CLEAN</option>
          <option value="ISN'T CLEAN">ISN'T CLEAN</option>
        </select>
      </div>

      <div class="form-group">
        <label for="zoneName">
          Zone Name
        </label>
        <select id="zoneName" name="zoneLName" ngModel>
          <option value="Tropical Fish">Tropical Fish</option>
          <option value="Polar Fish">Polar Fish</option>
          <option value="Gold Fish">Gold Fish</option>
          <option value="Spatial Fish">Spatial Fish</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="zoneLocalisation">
          Zone Localisation
        </label>
        <select id="zoneLocalisation" name="zoneLocalisation" ngModel>
          <option value="Easternmost">Easternmost</option>
          <option value="Northernmost">Northernmost</option>
          <option value="Westernmost">Westernmost</option>
          <option value="Southernmost">Southernmost</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="activity">
          Activity
        </label>
        <select id="activity" name="activity" ngModel>
          <option value="Feeding">Feeding</option>
          <option value="Water Quality Maintaining">Water Quality Maintaining</option>
          <option value="Veterinaty Examination">Veterinaty Examination</option>
          <option value="Safety Control">Safety Control</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <input type="reset" value="Reset" class="btn btn-primary"> <------>
      <button class="btn btn-primary" type="submit" *ngIf="this.employeeService.isConnected == 1">Save</button>
      <button (click)="detailsAlert()" class="btn btn-primary" type="button" *ngIf="this.employeeService.isConnected == 0">Save</button>

    </form>
  </div>
</div>

