<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <div class="dropdown">
    <button class="dropbtn">Employee</button>
    <div class="dropdown-content">
      <a routerLink="all/employee" class="nav-link" routerLinkActive="active">All Employees</a>
      <a routerLink="add/employee" class="nav-link" routerLinkActive="active">New Employee</a>
      <a routerLink="update/employee" class="nav-link" routerLinkActive="active">Update Employee</a>
    </div>
  </div>
</nav>

<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}} <br> Welcome to Aquarium</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020 BILA Inc</span>
  </div>
</footer>
