<nav class="">
  <!-- Left links -->
  <button class="dropbtn"><a routerLink=""  routerLinkActive="active">Home</a></button>
  <div class="dropdown">
    <button class="dropbtn">Employee</button>
    <div class="dropdown-content">
      <a routerLink="all/employee" class="nav-link" routerLinkActive="active">All Employees</a>
      <a routerLink="add/employee" class="nav-link" routerLinkActive="active">New Employee</a>
      <a routerLink="update/employee" class="nav-link" routerLinkActive="active">Update Employee</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Animal</button>
    <div class="dropdown-content">
      <a routerLink="all/animal" class="nav-link" routerLinkActive="active">All Animals</a>
      <a routerLink="add/animal" class="nav-link" routerLinkActive="active">New Animal</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Specy</button>
    <div class="dropdown-content">
      <a routerLink="all/specy" class="nav-link" routerLinkActive="active">All Species</a>
      <a routerLink="add/specy" class="nav-link" routerLinkActive="active">New Specy</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Pool</button>
    <div class="dropdown-content">
      <a routerLink="all/pool" class="nav-link" routerLinkActive="active">All Pools</a>
      <a routerLink="add/pool" class="nav-link" routerLinkActive="active">New Pool</a>
    </div>
  </div>
  <!-- Right links -->
  <div class="topnav-right">
      <a routerLink="connexion"  routerLinkActive="active" *ngIf="this.employeeService.isConnected == 0">Connexion</a>
      <a routerLink="connexion"  *ngIf="this.employeeService.isConnected === 1" (click)="disconnect()" >
        You're connected as : {{this.employeeService.userName}}
      - Disconnect ?</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact us</a>
  </div>
</nav>

<div class="container" >
  <br>
  <h2 style="text-align: center;" *ngIf="this.employeeService.isConnected === 0">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2020 BILA Inc</span>
  </div>
</footer>
