<script> document.redirect.reload(true) </script>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Specy List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Diet</th>
        <th>Life Expectancy</th>
        <!-- <th>Actions</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let specy of specys | async">
        <td>{{this.specy.id}}</td>
        <td>{{specy.name}}</td>
        <td>{{specy.diet}}</td>
        <td>{{specy.lifeExpectancy}}</td>
        <td><button (click)="deleteSpecy(specy.id)" class="btn btn-danger">Delete</button>
          <button (click)="specyDetails(specy.id)" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
