<div *ngIf="employee">
  <div>
    <label><b>ID: </b></label> {{employee.id}}
  </div>
  <div>
    <label><b>First Name: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Birthdate: </b></label> {{employee.birthdate}}
  </div>
  <div>
      <label><b>Address: </b></label> {{employee.address}}
  </div>
  <div>
    <label><b>Social Security Number: </b></label> {{employee.secuNum}}
  </div>
  <div>
    <label><b>Position: </b></label> {{employee.position}}
  </div>
  <div>
    <label><b>Pool: </b></label> {{employee.pool}}
  </div>
  <div>
    <label><b>Zone </b></label> {{employee.zone}}
  </div>
  <div>
    <label><b>Activity: </b></label> {{employee.activity}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
