<script> document.redirect.reload(true) </script>
<div class="panel panel-primary" *ngIf="this.employeeService.isConnected == 1">
  <div class="panel-heading">
    <h4>Timetable: Listing of Activities Per Day-You must be connected as 'Manager' to view further details</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Day</th>
        <th>Name</th>
        <th>Public / Private Clearance</th>
        <!-- <th>Actions</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let activity of activities | async">
        <td>{{this.activity.id}}</td>
        <td>{{activity.day}}</td>
        <td>{{activity.name}}</td>
        <td>{{activity.publicPrivate}}</td>

        <p *ngIf="this.employeeService.isConnected == 1">
        <td *ngIf="this.employeeService.position == 'Manager' ">
          <button (click)="deleteActivity(activity.id)" class="btn btn-danger">Delete</button>
          <button (click)="activityDetails(activity.id)" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>
        <td *ngIf="this.employeeService.position != 'Manager' ">
          <button (click)="detailsAlert()" class="btn btn-danger">Delete</button>
          <button (click)="detailsAlert()" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>
        </p>

        <td *ngIf="this.employeeService.isConnected == 0">
          <button (click)="detailsAlert()" class="btn btn-danger">Delete</button>
          <button (click)="detailsAlert()" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
