<script> document.redirect.reload(true) </script>
<div class="panel panel-primary" *ngIf="this.employeeService.isConnected == 1">
  <div class="panel-heading">
    <h4>Timetable Per Day</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Day</th>
        <th>Activity</th>
        <!-- <th>Actions</th> -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let timetable of timetables | async">
        <td>{{this.timetable.id}}</td>
        <td>{{timetable.day}}</td>
        <td>{{timetable.activity}}</td>

        <td *ngIf="this.employeeService.isConnected == 1">
          <button (click)="deleteTimetable(timetable.id)" *ngIf="this.employeeService.position == 'Manager' " class="btn btn-danger">Delete</button>
          <button (click)="detailsAlert()" *ngIf="this.employeeService.position != 'Manager' " class="btn btn-danger">Delete</button>
          <button (click)="timetableDetails(timetable.id)" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>

        <td *ngIf="this.employeeService.isConnected == 0">
          <button (click)="detailsAlert()" class="btn btn-danger">Delete</button>
          <button (click)="detailsAlert()" class="btn btn-info" style="margin-left: 10px">More details</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

